*{
	box-sizing: border-box;
}
main {
	padding: 0;
	margin: 0;
}
.sidebar {
	height: 100%;
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	background: url("https://www.toptal.com/designers/subtlepatterns/patterns/broken_noise.png");
	padding-top: 40px;
	
}

h1, p { 
	text-align: center;
 }

body {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  font-family: 'Exo 2', sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/crossword.png")

  
 
}

.sidebar a {
	color: silver;
  padding: 20px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar a:hover {
  background-color:  #EEE8AA;
  color: 	#404040;
}
.sidebar .icon:hover {
  background-color:  #EEE8AA;
  color: 	purple;
}
.sidebar .linkedin:hover {
  color: 	blue;
}

.logo {
	
	height: 140px;
	width: 140px;
}
.nav-inner{
	padding-top: 20px;
}

.intro-container {
	border-bottom: 1px solid black;
}
.intro-container p {

	font-size: 22px;
}

.intro-logo {
	padding: 0;
	display: block;
	margin: auto;
	height: 180px; 
	width: 400px;
}
h1 {
	color: #080808;
	font-weight: bold;
	font-family: 'Unlock', cursive;
}

  .projects-container, .tech-container { 
	width: 100%;

	border-bottom: 1px solid #898E8C;
	 display: flex;
	 flex-wrap: wrap;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: center;
  padding-bottom: 25px;
}
.projects-container {
	padding-left: 10px;
	justify-content: space-around;
}
.content {
  height: 700px;
  padding: 0;
  margin: 0;
  display: flex; /* or inline-flex */
  flex-direction: column ;
  list-style: none;
  width: 500px;
  border: 1px solid black;
  padding: 35px;
  border-top: none;
  border-bottom: none;

  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/school.png")
 
}
.content:hover {
	
}
.item a:hover {
	background-color:  black; 
}
.item {

	padding: 0;
	display: block;
  font-weight: 600; 
  font-size: 15px;
 
}
.item:first-child {
  display: block;
  border: 1px solid #898E8C;
 	height: 300px;
  width: 99%;
  border-radius: 3%;
  margin: auto;
}
.item p, a {
	text-align: center;
}

.flex-container {
  height: 500px;
  padding: 0;
  margin: 0;
  
  
  display: flex; /* or inline-flex */
  flex-direction: column ;
  list-style: none;
  width: 400px;
  border-radius: 3%;
 ;
}
.skill {
	font-family: 'Merriweather', serif;
	display: block;
	height: 250px;
	text-align: left;
  font-weight: 600; 
  font-size: 14px;
 
}
.skill:first-child {
	padding-top: 10px;
	height: 80px;
	color: #b38600; 
  font-size: 24px;
  text-align: center;
 
}
.flex-container {
  height: 300px;
  padding: 0;
  margin: 0;
  
  
  display: flex; /* or inline-flex */
  flex-direction: column ;
  list-style: none;
  width: 500px;
  border-radius: 3%;
 ;
}

.skill li {
	padding: 5px;
}
.skill {
	border: 2px solid #766F57;
	background-color: 	#FFF8DC
}
.bio {
	font-family: 'Merriweather', serif;
	margin: auto;
	display: block;
	height: 200px;
	width: 520px;
}
@media screen and (max-width: 700px) {
	.content{
		padding: 0px 30px;
	}
  .sidebar {
    width: 110%;
    height:	80px;
    position: relative;
    padding: 0px;
  }
  .logo {
  	float: left;
  	display: inline-block;
  	height: 60px;
  	width:	60px;
  	margin-right: 50px;
  }
  body {
  	margin: 0;
  	padding: 0;
  }
  .bio {
  	display: inline;
  	text-align: left;
  	padding-bottom: 5px; 
  }
  .sidebar a {
  	padding-left: 30px;
  	float: left;
  	font-size: 14px;
  	display: inline-block;
  }
  .nav-inner{
	padding-top: 0;
}

}
@media screen and (max-width: 560px) {
  .sidebar {
  	height: 120px;
  	}
  	.logo {
  		margin-top: 25px;
  	}
  	.sidebar a {
  		font-size: 12px;
  	}
  }